.cart-container {
  display: flex;
  flex-flow: column;
  width: 500px;
  height: fit-content;
  justify-content: space-around;
  align-items: baseline;
}

.sin-in-cart {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

.sin-img {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.data-container {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.in-cart-name {
  align-self: center;
  justify-self: center;
  margin: 10px 0px;
  font-size: 1.5rem;
}

.sin-details {
  display: flex;
  justify-content: space-around;
}

/* .in-cart-data {
} */

.ticket-container {
  position: absolute;
  top: 15vh;
  right: 5vw;
  display: flex;
  flex-flow: column;
  width: 200px;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
}

.ticket-title {
  text-align: center;
  margin: 5px 5px;
}

.ticket-details {
  display: flex;
  justify-content: space-between;
  margin: 0px 5px;
}
