nav {
  display: flex;
  min-height: 10vh;
  justify-content: space-around;
  background: none;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
}

.nav-links {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

a {
  margin-left: 10px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(126, 106, 18);
}
